<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @player.alias %>
</p>

<%= link_to 'Back', players_path %>
<hr>

<h5>Matches</h5>
<%= render partial: 'matches_table' %>
